:root{
    font-family: 'Montserrat', sans-serif;
}
* {
    box-sizing:border-box
}
body, html {
    margin: 0px;
    padding: 0px;
}
 
.text-white {
    color: white;
}
.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.flex-gap-1 {
    gap: 1rem;
}
.flex-gap-2 {
    gap: 2rem;
}
.card {
    height: 100vh;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-evenly {
    justify-content: space-evenly;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.w-full {
    width: 100%;
}
.capitalize{
    text-transform: capitalize;
}
.capitalize-first {
    text-transform: lowercase;
}
.capitalize-first::first-letter {
    text-transform: capitalize;
}
.h-full {
    height: 100%;
}
.font-bold {
    font-weight: bold;
}
.title {
    font-size: 1.5rem;
    font-weight: bold;
}
